/*body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}*/

#info {
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	text-align: center;
	z-index:100;
}
